html {
	height: 100%;
}
head {
	height: 100%;
	position: relative;
}

body {
	background-color: rgb(44,148,173);
	font-family: Facile Sans;
	font-weight: 400;
}
@font-face {
	font-family: Facile Sans;
	src: url(fonts/Facile Sans.woff);
}
header {
	background-color: aliceblue;
	margin-bottom: 10px;
}
a {
	color: rgb(146,195,209);
	text-decoration: none;
}
.navig-menu {
	overflow: hidden;
	border: none;
	background-color: aliceblue;
}
.menu {
	padding-right: 25px;
	text-transform: uppercase;
	font-family: Facile Sans;
}
.nav > li > a {
	display: -webkit-inline-box;
	text-decoration: overline;
	border: none;
	color: rgb(146,195,209);
}
.nav > li > a:hover {
	background-color: inherit;
	color: rgb(44,148,173);
	text-decoration: overline;
}
.navig {
	height: 75px;
	line-height: 4.2;
}

.imlogo {
	padding-left: 50px;
}

#main .container {
	padding-left: 0;
}

#continue {
	background-color: aliceblue;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}








/* -------------ffoooooooter -------- */
.foot {
	margin-bottom: 0;
	margin-top: 20px;
	background-color: rgb(229,240,244);
	position: absolute;
	width: 98%;
	padding-bottom: 60px;

}