@font-face {
	font-family: Facile Sans;
	src: url(fonts/Facile Sans.woff);
	src: url(fonts/Facile Sans.ttf) format("truetype");
	src: url(fonts/Facile Sans.otf);
	src: url(fonts/Facile Sans.eot?#iefix) format("embedded-onetype");
	src: url(fonts/fonts/Facile Sans.svg#Facile Sans) format("svg");
}
html {
	min-height: 100%;
	position: relative;
	padding-bottom: 90px;
	
}

body {
	background-color: rgb(44,148,173);
	font-family: Facile Sans;
	font-weight: 400;
	margin-bottom: 55px !important;
}
body .container {
	padding: 0;
}

a {
	color: rgb(146,195,209);
	text-decoration: none;
}
/* HEADER */
header {
	background-color: aliceblue;
	margin-bottom: 10px;
	border-radius: 4px;
}
header > .navbar {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 0;
}
#logo {
	margin-left: 15px;
}
.navbar-nav {
	float: right;
	margin-top: 15px;
}
.navbar-default
.navbar-nav>li>a {
	color: rgb(146,195,209);
	text-decoration: overline;
}

.navbar-default
.navbar-nav>li>a:hover {
	color: rgb(44,148,173);
	text-decoration: overline;
	background-color: inherit;
}
.selectnav {
	display: none;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}
/* /HEADER */

.form-group {
	width: 100%;
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }

.cont {
	color: rgb(146,195,209);
}
h2 {
	color: rgb(44,148,173);
}
.contact-us {
	margin: 0;
	background-color: rgb(229,240,244);
	border-radius: 4px;
}

.well {
	background-color: rgb(229,240,244);
	border-color: rgb(229,240,244);
}
.Button {
    display: block;
    width: 140px;
    padding: 10px;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    font-family: Facile Sans;
    background-color: floralwhite;
    border: 1px solid lightgrey;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.btnn {
	width: 140px;
}

/* -------------forma -------- */
.inputGroupContainer {
	width: 100%; 
}
/* -------------forma -------- */





/* -------------ffoooooooter -------- */
.foot {
	height: 92px;
	margin-bottom: 0;
	margin-top: 20px;
	background-color: rgb(229,240,244);
	
	padding-bottom: 60px;
	padding-right: 0;
	padding-left: 0;

}
.adres {
	color: rgb(44,148,173);
	text-align: center;
}
.ic {
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 22px;
}
div div a:hover {
	background: url(img/icon/fb-color.png);
}