html {
	height: 100%;
}
head {
	height: 100%;
	position: relative;
}

body {
	background-color: rgb(44,148,173);
	font-family: Facile Sans;
	font-weight: 400;
}
@font-face {
	font-family: Facile Sans;
	src: url(fonts/Facile Sans.woff);
	src: url(fonts/Facile Sans.ttf) format("truetype");
	src: url(fonts/Facile Sans.otf);
	src: url(fonts/Facile Sans.eot?#iefix) format("embedded-onetype");
	src: url(fonts/fonts/Facile Sans.svg#Facile Sans) format("svg");
}
a {
	color: rgb(146,195,209);
	text-decoration: none;
}
/* HEADER */

header {
	background-color: aliceblue;
	margin-bottom: 10px;
	border-radius: 4px;
}
header > .navbar {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 0;
}
#logo {
	margin-left: 15px;
}
.navbar-nav {
	float: right;
	margin-top: 15px;
}
.navbar-default
.navbar-nav>li>a {
	color: rgb(146,195,209);
	text-decoration: overline;
}

.navbar-default
.navbar-nav>li>a:hover {
	color: rgb(44,148,173);
	text-decoration: overline;
	background-color: inherit;
}
.selectnav {
	display: none;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

/* HEADER */

/* Content */
.container {
	padding-left: 0;
	padding-right: 0;
}
#continue {
	background-color: aliceblue;
	padding: 40px;
	margin-bottom: 20px;
	border-radius: 4px;
}
#continue img {
	max-width: 100%;
	height: auto;
	margin: 20px auto;
}

/* FOOTER  */
.foot {
	height: auto;
	margin-bottom: 0;
	margin-top: 5px;
	background-color: rgb(229,240,244);
	padding-right: 0;
	padding-left: 0;

}
.adres {
	color: rgb(44,148,173);
	text-align: center;
}
.ic {
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 22px;
}