html {
	height: 100%;
}
head {
	height: 100%;
	position: relative;
}

body {
	background-color: rgb(44,148,173);
	font-family: 'Facile Sans';
	font-weight: 400;
}
@font-face {
	font-family: 'Facile Sans';
	src: url(fonts/Facile Sans.woff);
	src: url(fonts/Facile Sans.ttf) format("truetype");
	src: url(fonts/Facile Sans.otf);
	src: url(fonts/Facile Sans.eot?#iefix) format("embedded-onetype");
	src: url(fonts/fonts/Facile Sans.svg#Facile Sans) format("svg");
}

a {
	color: rgb(146,195,209);
	text-decoration: none;
}
/* header */
header {
	background-color: aliceblue;
	margin-bottom: 10px;
	border-radius: 4px;
}
header > .navbar {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 0;
}
#logo {
	margin-left: 15px;
}
.navbar-nav {
	float: right;
	margin-top: 15px;
}
.navbar-default
.navbar-nav>li>a {
	color: rgb(146,195,209);
	text-decoration: overline;
}

.navbar-default
.navbar-nav>li>a:hover {
	color: rgb(44,148,173);
	text-decoration: overline;
	background-color: inherit;
}
.selectnav {
	display: none;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}
/* /header */


.container {
	padding: 0;
}

#content {
	background-color: aliceblue;
	padding: 40px;
	border-radius: 4px;
}
#content h1 {
	margin-left: 20px;
}
ul#filter {
	margin: 0;
	padding: 0;
}
.filter {
	color: #fff;
	background-color: blue;
	display: inline-block;
	text-transform: uppercase;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}
.mix {
	margin-top: 10px!important;
}
.mix > div {
	padding: 10px;
}
.mix h2 {
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: -1px;
	font-size: 19px;
	text-decoration: none;
}
.caption > h2 > a:hover {
	color: rgb(44,148,173);
	text-decoration: none;
}
.mix h2 em {
	display: block;
	text-transform: none;
	font-size: 14px;
	margin-bottom: 2px;
}
.image {
	border: 10px solid #fff;
}




/* ----FOOTER---- */
.foot {
	height: 92px;
	margin-bottom: 0;
	margin-top: 20px;
	background-color: rgb(229,240,244);
	padding-right: 0;
	padding-left: 0;

}
.adres {
	color: rgb(44,148,173);
	text-align: center;
}
.ic {
	border: none;
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 22px;
}
.animation {
	min-height: 90px;
	background-size: cover;
}
.animation a {
	display: block;
	width: 100%;
	min-height: 50px;
}
/* ----/FOOTER---- */