@font-face {
	font-family: 'Facile Sans';
	src: url(fonts/Facile Sans.woff);
	src: url(fonts/Facile Sans.ttf) format("truetype");
	src: url(fonts/Facile Sans.otf);
	src: url(fonts/Facile Sans.eot?#iefix) format("embedded-onetype");
	src: url(fonts/fonts/Facile Sans.svg#Facile Sans) format("svg");
}
html {
	height: 100%;
}
head {
	height: 100%;
	position: relative;
}
body {
	background-color: rgb(44,148,173);
	font-family: 'Facile Sans';
	font-weight: 400;
}
.container {
	padding-right: 28px;
	padding-left: 0;
}
/* HEADER */
header {
	background-color: aliceblue;
	margin-bottom: 10px;
	border-radius: 4px;
}
header > .navbar {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 0;
}
#logo {
	margin-left: 15px;
}
.navbar-nav {
	float: right;
	margin-top: 15px;
}
.navbar-default
.navbar-nav>li>a {
	color: rgb(146,195,209);
	text-decoration: overline;
}

.navbar-default
.navbar-nav>li>a:hover {
	color: rgb(44,148,173);
	text-decoration: overline;
	background-color: inherit;
}
.selectnav {
	display: none;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

/* HEADER */

/* CONTENT */
#showcase {
	padding-top: 10px;
	line-height: 15px;
}
#showcase 
.container > .row > div {
	margin-top: 10px;
} 
#showcase
.container > .row > div > div {
	background-color: aliceblue;
	padding: 15px;
	border-radius: 4px;
}
#showcase h2 {
	font-size: 25px;
	letter-spacing: 0px;
	padding: 0px 0 20px 15px;
}
h3 {
	font-family: 'Facile Sans';
	font-weight: 700;
	text-transform: uppercase;
}

video {
	width: 100%;
	height: auto;
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.embed-responsive{
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	width:100%;
}
 
.embed-responsive .embed-responsive-item, 
.embed-responsive iframe, .embed-responsive embed, 
.embed-responsive object{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* /CONTENT */





/* -------------ffoooooooter -------- */
.foot {
	height: 92px;
	margin-bottom: 0;
	margin-top: 20px;
	background-color: rgb(229,240,244);
	position: absolute;
	padding-bottom: 60px;
	padding-right: 0;
	padding-left: 0;

}
.adres {
	color: rgb(44,148,173);
	text-align: center;
}
.ic {
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 22px;
}
div div a:hover {
	background: url(img/icon/fb-color.png);
}